<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<h1>New Post</h1>
		<%= form_for @post do |f| %>
			<%= f.text_field :title, placeholder: "Title", class: "form-control" %>
			<br>
			

			
			<%= f.text_field :body, placeholder: "Body", class: "form-control" %> 
			<br>

			
			<%= f.submit "Submit" %>
		<% end %>
	</div>
</div>