<div class="well col-sm-2 hidden-xs" id="city-list">
	<ul class="nav nav-pills nav-stacked">
		<% @cities.each do |city| %>
      <li>                
        <%= link_to city.name, city_path(city) %>
      </li>
    <% end %>
	</ul>
</div>
<div class="container col-sm-10">
	<h1>Vagabond</h1>
	<p>Welcome to Vagabond!</p>
	<hr>
	<h1>Map Placeholder</h1>
	<hr>
	<% if @posts.any? %>
        <% @posts.each do |post| %>
            <h3><%= post.title %></h3>
            <h4><%= post.city.name%>   
            <span class="pull-right">
              <%= link_to "View Post", post_path(post), class: "btn btn-primary pull-right" %>
            </span>
            </h4> 
          <hr>
        <% end %>
      <% else %>
          <h3>No posts yet!</h3>
          <hr>
      <% end %> 
</div>


