// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	height: 100%
}

#city-list {
	background-color: #333333;
    border-color: #222222;
    color: white;
    height: 100vh;
    margin-top: 0px;
}

.navbar {
	margin-bottom: 0px;
}

.jumbotron {
    margin-bottom: 0px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}


#map {
    width: 100%;
    height: 500px;
}